{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>УИЦ при МЧС КР</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>

    <!-- Шапка сайта -->
    <header>
        <h1>
            Учебно-исследовательский центр при Министерстве чрезвычайных ситуаций Кыргызской Республики
        </h1>
    </header>

    <!-- Основной контент -->
    <main>
        <section class="section about">
 <h2 class="title">Руководство</h2>
             <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/iashina.png' %}">
            <h3>Яшина Ирина Александровна</h3>
            <p>Начальник Учебно-исследовательского центра при МЧС КР</p></div>
                    <div class="employee">
                    <img src="{% static 'main/images/ibraimov.png' %}">
                    <h3>Ибраимов Ильяс Оруналыевич</h3>
            <p>Заместитель начальника Учебно-исследовательского центра при МЧС КР</p></div>
      </div>
      <div class="about">История образования Учебно-исследовательского центра при МЧС КР

<h2 class="title">История образования Центра на базе курсов Гражданской обороны</h2>
Курсы Гражданской обороны были образованы в начале 60-годов 20 столетия. Они входили в состав штаба ГО Киргизской ССР и были предназначены для подготовки руководящего, командно-начальствующего состава ГО Киргизской ССР к выполнению мероприятий ГО в мирное время по защите населения и территории республики в условиях военного времени от оружия массового поражения и при нанесении ядерных ударов.
В соответствии с этим курсы ГО проводили мероприятия, направленные на привитие навыков управления силами и средствами руководящему и командно-начальствующему составу всех категорий республики, также на обучение населения, пропаганды целей и задач ГО. Ежегодно на курсах ГО проходило обучение около тысячи слушателей.
<section>
            <img src="{% static 'main/images/foto история.png' %}">
        </section>

После обретения суверенитета Кыргызской Республики курсы ГО входили в состав управления ГО Кыргызской Республики, созданного на базе ранее существовавшего штаба ГО Киргизской ССР. 27 мая 1993 года указом Президента Кыргызской Республики № VII-153 Управление Гражданской обороны было передано в состав Госкомиссии Кыргызской Республики и преобразовано в Госкомиссию Кыргызской Республики по чрезвычайным ситуациям и Гражданской обороне.
4 марта 1996 года Указом Президента №УП-45 Госкомиссия при Правительстве Кыргызской Республики по чрезвычайным ситуациям и Гражданской обороне преобразована в Министерство по чрезвычайным ситуациям и Гражданской обороне.
28 декабря 2000 года указом Президента Кыргызской Республики № 363 преобразовано в Министерство экологии и чрезвычайных ситуаций Кыргызской Республики, в которое вошли Кыргызгидромет и департамент экологии, 15 октября 2005 года указом Президента №УП-462 оно было преобразовано в Министерство чрезвычайных ситуаций Кыргызской Республики.
Весь этот период Курсы ГО организационно входили в состав Главного управления ГО МЧС И ГО КР.
20 декабря 2005 г. в связи с реорганизацией структуры министерства, на основании Постановления Правительства Кыргызской Республики № 541 от 29 ноября и приказом министра чрезвычайных ситуаций Кыргызской Республики № с-528 от 20 декабря на базе существующих курсов ГО были созданы Центральные курсы МЧС Кыргызской Республики.
Центральные курсы ГО, как самостоятельная структура, со своими задачами и полномочиями вошли в состав МЧС Кыргызской Республики.
В целях дальнейшего совершенствования качества подготовки слушателей и развития учебно-материальной базы, приказом министра чрезвычайных ситуаций Кыргызской Республики местом размещения Центральных курсов было определено здание и территория Военного городка МЧС с Ленинское Аламудунского района.
<h2 class="title">Согласно Постановления Правительства Кыргызской Республики № 175 от 16 мая 2007 г. «Вопросы Министерства чрезвычайных ситуаций Кыргызской Республики» и Приказом Министра ЧС КР № 664 от 17 августа 2008 г. Центральные курсы были переименованы в Республиканские курсы ГЗ МЧС Кыргызской Республики.</h2>

<section>
            <img src="{% static 'main/images/IMG_0343.jpg' %}">
        </section>

Республиканские курсы Гражданской защиты являлись специальным научно-образовательным учреждением дополнительного профессионального образования (повышения квалификации), центром учебно-методической работы Министерства чрезвычайных ситуаций Кыргызской Республики.
Они организовывали и проводили подготовку и переподготовку должностных лиц и специалистов в области Гражданской защиты министерств, государственных комитетов, административных ведомств, служб Гражданской защиты, территориальных и местных органов государственной власти, предприятий и учреждений независимо от их организационно-правовых форм и форм собственности в области предупреждения, защиты населения и территорий, ликвидации чрезвычайных ситуаций природного и техногенного характера, угроз возникающих в военное время и Гражданской защите, а также преподавателей курса «Основы безопасности жизнедеятельности» средних и высших учебных заведений.
В 2007 году в целях своевременной и качественной реализации «Программы действия и перспективного развития Министерства чрезвычайных ситуаций Кыргызской Республики на 2007-2010 гг.» в рамках «Стратегия Развития Страны (СРС)» разработано Проектное предложение по развитию Республиканских курсов Гражданской защиты, которое было представлено на рассмотрение Швейцарскому управлению по развитию сотрудничества (ШУРС).
Со стороны ШУРС Международная организация по миграции (МОМ) была определена, как исполнитель данного проекта. Данный проект был осуществлен в 2008 году.
9 февраля 2011 года Постановлением Правительства Кыргызской Республики № 35 образован Центр подготовки и переподготовки специалистов Гражданской защиты при МЧС КР на базе Республиканских курсов ГЗ МЧС КР.
Центр подготовки и переподготовки специалистов Гражданской защиты при Министерстве чрезвычайных ситуаций Кыргызской Республики являлся подведомственным подразделением Министерства чрезвычайных ситуаций Кыргызской Республики по организации подготовки и обучения руководящего, командно-начальствующего состава Гражданской защиты, должностных лиц органов государственной власти, организаций, учреждений, подготовки населения к действиям в чрезвычайных ситуациях.

Центр осуществлял свою деятельность на основании Положения «О Центре подготовки и переподготовки специалистов ГЗ при МЧС КР», конституцией Кыргызской Республики, законами, иными нормативными правовыми актами Кыргызской Республики.
Образовательная деятельности осуществлялась в соответствии с Законом КР «О лицензировании» и Центр имел лицензию Министерства образования и науки КР.
 Постановлением Кабинета Министров Кыргызской Республики от 24 января 2024 года №19 переименован Центр подготовки и переподготовки специалистов Гражданской защиты при Министерстве чрезвычайных ситуаций Кыргызской Республики в Учебно-исследовательский центр при Министерстве чрезвычайных ситуаций Кыргызской Республики.
 <h2 class="title">Учебно-исследовательский центр при Министерстве чрезвычайных ситуаций Кыргызской Республики</h2>
 <section>
            <img src="{% static 'main/images/IMG_3073.JPG' %}">
        </section>

Учебно-исследовательский центр при Министерстве чрезвычайных ситуаций Кыргызской Республики является подведомственным подразделением Министерства чрезвычайных ситуаций Кыргызской Республики, предметом деятельности которого является учебная (преподавательская), научно-исследовательская деятельность в области Гражданской защиты и пожарной безопасности в пределах компетенции Министерства чрезвычайных ситуаций Кыргызской Республики.
Центр в своей деятельности руководствуется Конституцией Кыргызской Республики, законами и иными нормативными правовыми актами Кыргызской Республики, общевоинскими уставами Вооруженных Сил Кыргызской Республики, а также настоящим Положением.
Центр является воинским учреждением, комплектуется военнослужащими и служащими, имеющими высшее и среднее профессиональное образование, стаж практической работы в Министерстве.
Центр создан в целях проведения единой политики по обучению и подготовке руководящего, командно-начальствующего состава Гражданской защиты и пожарной безопасности, должностных лиц органов государственной власти, местного самоуправления, организаций, учреждений, населения, слушателей и студентов образовательных организаций к действиям в условиях угрозы и возникновения чрезвычайных ситуаций в Кыргызской Республике.
Центр в соответствии с законодательством Кыргызской Республики в сфере предоставления государственных услуг может предоставлять платные услуги.
Платные услуги осуществляются Центром по ценам, установленным в соответствии с законодательством Кыргызской Республики.
Все виды деятельности, на осуществление которых в соответствии с законодательством Кыргызской Республики требуется получение лицензий, свидетельств либо сертификатов, осуществляются Центром только при наличии указанных документов.
Платные услуги не могут быть оказаны Центром взамен и в ущерб основным видам деятельности, финансируемым за счет средств республиканского бюджета.</div>
        </section>
    </main>
</body>
</html>