{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конференции</title>

    <link rel="stylesheet" href="{% static '/main/css/style.css' %}">
</head>

<body>

    <!-- Шапка сайта -->
    <header>
        <h1>
            Конференции на которых принимали участие сотрудники Центра
        </h1>
    </header>
    <!-- Основной контент -->
    <main class="conferences-page">
         <section class="conference-section">
            <h2 class="title">"Международная научно-практическая конференция под девизом «Предотвращение, Спасение, Помощь"</h2>
                <div class="conference-card">
                    <img src="{% static 'main/images/wdUw6Eqv6mI.jpg' %}">
                    <p>На основании письма начальника Академии ГЗ РФ №ИВ -109-223 от 04.02.2026г в рамках проведения Международной научно-практической конференции под девизом «Предотвращение, Спасение, Помощь» прошла конференция с участием сотрудников центра, также были предоставлены научные статьи и доклады. </p>
                    <p>Данная конференция прошла 4 марта 2026 года г.о. Химки Российская Федерация.</p>
                </div>
         </section>
         <section class="conference-section">
            <h2 class="title">Cеминар в формате ВКС на тему: «Развитие систем дополнительного профессионального образования и внутренняя оценка качества профессионального образования»</h2>
                <div class="conference-card">
                    <img src="{% static 'main/images/images.jpg' %}">
                    <p>На основании письма начальника Сибирской АГПС РФ №ИВ-112-32 от 29.01.2026г был проведен семинар в формате ВКС на тему: «Развитие систем дополнительного профессионального образования и внутренняя оценка качества профессионального образования» с сотрудниками центра.</p>
                    <p>Данный семинар прошел 12.03.2026 года г. Красноярск РФ.</p>
                </div>
                </section>
                <section class="conference-section">
            <h2 class="title">"Международная научно-практическая конференция на тему: «Актуальные вопросы инженерной защиты населения и территорий» </h2>
                <div class="conference-card">
                    <img src="{% static 'main/images/wdUw6Eqv6mI.jpg' %}">
                    <p>На основании письма начальника Академии ГЗ РФ №ИВ -109-681 от 27.03.2026г в рамках проведении Международной-практической научной конференции на тему: «Актуальные вопросы инженерной защиты населения и территорий» прошла конференция с участием сотрудников центра, также были предоставлены научные статьи и доклады. </p>
                    <p>Данная конференция прошла 21 апреля 2026 года г. Химки РФ.</p>
                </div>
        </section>
    </main>


</body>

</html>