{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НИО УИЦ МЧС КР</title>

    <link rel="stylesheet" href="{% static '/main/css/style.css' %}">
</head>

<body>

    <!-- Шапка сайта -->
    <header>
        <h1>
            Учебно-исследовательский центр при Министерстве чрезвычайных ситуаций Кыргызской Республики
        </h1>
<p>Контакты

Юридический адрес:

Чуйская область, Аламудунский район, с. Ленинское, Военный городок МЧС КР

Телефон: (312)  446 190

Факс: 0 (312) 446 191

Электронная почта: s.c.mchs@mail.ru </p>

    </header>

    <!-- Основной контент -->
    <main>

        <section>
            <img src="{% static 'main/images/map.png' %}" alt="Учебно-исследовательский центр">
        </section>

    </main>

    <!-- Подвал -->
    <footer>
        <p>
            © 2026 Учебно-исследовательский центр при МЧС КР
        </p>
    </footer>

</body>
</html>