{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сотрудники Центра</title>

    <link rel="stylesheet" href="{% static '/main/css/style.css' %}">
</head>

<body>

    <!-- Шапка сайта -->
    <header>
        <h1>
            Сотрудники Центра
        </h1>
    </header>
    <!-- Основной контент -->
    <main class="main employees">
        <section class="section about">
            <h2 class="title">Учебно-методическое управление</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/irgebaev.png' %}">
                    <h3>Иргебаев Марат Уманович</h3>
                    <p>Начальник УМУ УИЦ при МЧС КР</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Учебный отдел</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/shermatov.png' %}">
                    <h3>Шерматов Мирбек Орозобекович</h3>
                    <p>Начальник Учебного отдела УМУ УИЦ при МЧС КР</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/mamatov.png' %}">
                    <h3>Маматов Эмир Бактыбекович</h3>
                    <p>Старший офицер учебного отдела учебно-методического управления</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/turdumambetova.jpg' %}">
                    <h3>Турдумамбетова Жибек Каныбековна</h3>
                    <p>Старший офицер учебного отдела учебно-методического управления</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/stalbekov.png' %}">
                    <h3>Сталбеков Бейшенбек Сталбекович</h3>
                    <p>Офицер учебного отдела учебно-методического управления</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Кафедра подготовки и переподготовки специалистов гражданской защиты</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/tuibasov.png' %}">
                    <h3>Туйбасов Шайырбек Жамбылович</h3>
                    <p>Начальник кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
            </div>
        </section>
        <section>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/toktokunov.png' %}">
                    <h3>Токтокунов Азамат Ильясович</h3>
                    <p>Заместитель начальника кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/matsakov.png' %}">
                    <h3>Матсаков Улукбек Махаматжанович</h3>
                    <p>Старший преподаватель кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/ergeshov.png' %}">
                    <h3>Эргешов Мансурбек Калмаматович</h3>
                    <p>Старший преподаватель кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/moldalieva.png' %}">
                    <h3>Молдалиева Гүлназ Азаматовна</h3>
                    <p>Преподаватель кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/taev.png' %}">
                    <h3>Таев Бекжан Ташбалтаевич</h3>
                    <p>Преподаватель кафедры подготовки и переподготовки специалистов гражданской защиты</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Кафедра подготовки специалистов по пожарной безопасности</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/sariev.png' %}">
                    <h3>Сариев Урмат Чубакович</h3>
                    <p>Начальник кафедры подготовки специалистов по пожарной безопасности</p>
                </div>
            </div>
        </section>
        <section>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/turusbekovm.png' %}">
                    <h3>Турусбеков Мирбек Ямшитбекович</h3>
                    <p>Заместитель начальника кафедры подготовки специалистов по пожарной безопасности</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/turusbekovr.png' %}">
                    <h3>Турусбеков Рысбек Кылычбекович</h3>
                    <p>Старший преподаватель кафедры подготовки специалистов по пожарной безопасности</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/mansurov.png' %}">
                    <h3>Мансуров Каныбек Муйдинжонович</h3>
                    <p>Преподаватель кафедры подготовки специалистов по пожарной безопасности</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Кафедра дополнительной профессиональной подготовки</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/djumabekov.png' %}">
                    <h3>Джумабеков Максат Турганжанович</h3>
                    <p>Начальник кафедры дополнительной профессиональной подготовки</p>
                </div>
            </div>
        </section>
        <section>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/satylganov.png' %}">
                    <h3>Сатылганов Айбек Салаватович</h3>
                    <p>Заместитель начальника кафедры дополнительной профессиональной подготовки</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/imerov.png' %}">
                    <h3>Имеров Медербек Муратбекович</h3>
                    <p>Старший преподаватель кафедры дополнительной профессиональной подготовки</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/kosicyn.png' %}">
                    <h3>Косицын Валентин Владимирович</h3>
                    <p>Преподаватель кафедры дополнительной профессиональной подготовки</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Испытательная пожарная лаборатория</h2>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/sapar.png' %}">
                    <h3>Жыргалбек уулу Сапарбек</h3>
                    <p>Начальник испытательной пожарной лаборатории</p>
                </div>
            </div>
        </section>
        <section>
            <div class="employees">
                <div class="employee">
                    <img src="{% static 'main/images/keldibekov.png' %}">
                    <h3>Келдибеков Абылбек Келдибекович</h3>
                    <p>Старший офицер испытательной пожарной лаборатории</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/turdalieva.png' %}">
                    <h3>Турдалиева Сарика Кубанычевна</h3>
                    <p>Старший офицер испытательной пожарной лаборатории</p>
                </div>
                <div class="employee">
                    <img src="{% static 'main/images/asylbekov.png' %}">
                    <h3>Асылбеков Канат Эркинбекович</h3>
                    <p>Офицер испытательной пожарной лаборатории</p>
                </div>
            </div>
        </section>
    </main>


</body>

</html>