{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НИР УИЦ МЧС КР</title>

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>

    <!-- Шапка сайта -->
    <header>
        <h1>
            Научно-исследователсьские работы сотрудников УИЦ при МЧС КР на 2026 год
        </h1>
    </header>

    <!-- Основной контент -->
    <main>
<table class="research-table">
    <thead>
        <tr>
        <th>№п/п</th>
        <th>Ф.И.О сотрудника</th>
        <th>Наименования НИР</th>
        <th>Срок исполнения</th>
        <th>Статус</th>
        <th>Результат</th>
        <th>Файл</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1</td>
        <td>Иргебаев М.У.</td>
        <td>Пожарная безопасность на рынках и базарах в городской среде: анализ рисков и меры профилактики на примере г.Бишкек.</td>
        <td>сентябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work1.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>2</td>
        <td>Шерматов М.О.</td>
        <td>Оценка безопасности людей на объектах, оборудованных пожарной cигнализацией, на основе прибора приемно-контрольной малой информационной ёмкости на примере социального учреждения средней образовательной школы №67 г.Бишкек</td>
        <td>август</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work2.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>3</td>
        <td>Турдумамбетова Ж.К.</td>
        <td>Действие при пожаре в квартире: правила эвакуации, меры безопасности и профилактика для сохранения жизни и здоровья.</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work3.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>4</td>
        <td>Сталбеков Б.С.</td>
        <td>Технико-экономическая оценка системы транкинговой радиотелефонной связи на территории Нарынской области Кыргызской Республики</td>
        <td>сентябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work4.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>5</td>
        <td>Бердалиев Д.Ш.</td>
        <td>Разработка и внедрение цифровых образовательных технологий</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work5.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>6</td>
        <td>Туйбасов Ш.Ж.</td>
        <td>Методика расследования  пожаров в Кыргызской Республики</td>
        <td>сентябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work6.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>7</td>
        <td>Токтокунов А.И.</td>
        <td>Динамика количества пожаров в г. Бишкек за 2022–2025 годы. </td>
        <td>июль</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work7.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>8</td>
        <td>Сулайымбеков Э. Б.</td>
        <td>Статистический учет пожаров в КР за 2023-2025годы.</td>
        <td>август</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work8.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>9</td>
        <td>Эргешов М.К.</td>
        <td>Антропогенное загрязнение атмосферного воздуха в Кыргызской Республике: источники, динамика и стратегии предотвращения</td>
        <td>август</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work9.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>10</td>
        <td>Таев Б.Т.</td>
        <td>Өзгөчө кырдаал режимин киргизүүдө жана өзгөчө кырдаалдардын кесепеттерин жоюуда жарандык коргонуунун башкаруу органдарынын орду жана укук-милдеттери</td>
        <td>октябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work10.pdf">PDF</a></td>
        </tr>
          <tr>
        <td>11</td>
        <td>Молдалиева Г.А.</td>
        <td>Статистический учет пожаров в г.Бишкек за 2022-2025 годы.</td>
        <td>сентябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work11.pdf">PDF</a></td>
        </tr>
          <tr>
        <td>12</td>
        <td>Сариев У.Ч.</td>
        <td>Анализ требований пожарной безопасности к объектам повышенной этажности и высотным зданиям Кыргызской Республики.</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work12.pdf">PDF</a></td>
        </tr>
          <tr>
        <td>13</td>
        <td>Турусбеков М.Я.</td>
        <td>Анализ и совершенствование организации газодымозащитной службы в пожарно-спасательных подразделениях МЧС Кыргызской Республики</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work13.pdf">PDF</a></td>
        </tr>
          <tr>
        <td>14</td>
        <td>Турусбеков Р.К.</td>
        <td>Анализ пожарной обстановки в стране и тактических возможностей пожарно-спасательных подразделений МЧС Кыргызской Республики</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work14.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>15</td>
        <td>Мансуров К.М.</td>
        <td>Анализ внедрения беспилотных летательных аппаратов при разведке и тушении пожаров в Кыргызской Республике</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work15.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>16</td>
        <td>Джумабеков М.Т.</td>
        <td>Анализ и оценка эффективности обучения населения Кыргызской Республики мерам пожарной безопасности</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work16.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>17</td>
        <td>Сатылганов А.С.</td>
        <td>Анализ НПА в области радиационной безопасности населения</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work17.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>18</td>
        <td>Имеров М.М.</td>
        <td>Организация морально-психологического сопровождения личного состава Вооружённых сил Кыргызской Республики при проведении эвакуационных операций</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work18.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>19</td>
        <td>Косицын В.В.</td>
        <td>Пожарная безопасность на строящихся высотных зданиях: способы тушения и меры профилактики</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work19.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>20</td>
        <td>С. Жыргалбек уулу</td>
        <td>Анализ динамики пожаров и основных пожарных рисков на территории Кыргызской Республики за период 2021-2025гг.</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work20.pdf">PDF</a></td>
        </tr>
         <tr>
        <td>21</td>
        <td>Келдибеков А.К.Турдалиева С.К.</td>
        <td>Комплексная оценка пожарно-технических характеристик строительных материалов и изделий, определяющих их поведение при воздействии огня (горючесть, негорючесть, воспламеняемость, скорость распространения пламени, дымообразующая способность и токсичность продуктов горения) и их роль в обеспечении пожарной безопасности.</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work21.pdf">PDF</a></td>
        </tr>
        <tr>
        <td>22</td>
        <td>Асылбеков К.Э.</td>
        <td>Эвакуация при пожарах и указатели безопасности в общественных зданиях: международный опыт и учет маломобильных групп населения.</td>
        <td>ноябрь</td>
        <td class="status-progress">В процессе</td>
        <td>Научная статья</td>
        <td><a href="files/work22.pdf">PDF</a></td>
        </tr>
    </tbody>
</table>

    </main>

</body>

</html>